Old file, see data_exploration2 for updated version

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt

from sqlalchemy import create_engine

In [ ]:
engine = create_engine("postgresql:///kcmo-mc")
db_conn = engine.connect()

#### Race

Racial breakdown of the ~57K individuals

In [ ]:
r1 = """
with demog as (
    select 
        last_name, 
        first_name, 
        dob, 
        sex 
    from raw_court.dssgname 
    group by last_name, first_name, dob, sex
)
select 
    sex, 
    count(*) 
from demog 
group by sex;
"""
pd.read_sql(r1, db_conn)

Num cases by racial group

In [ ]:
r = """
select 
    race, 
    count(case_num) 
from raw_court.dssgname 
group by race 
order by count(*); 
"""
pd.read_sql(r, db_conn)

#### Gender
gender breakdown of the ~57K individuals

In [ ]:
g = """
with demog as (
    select 
        last_name, 
        first_name, 
        dob, 
        sex 
    from raw_court.dssgname 
    group by last_name, first_name, dob,  sex
)
select 
    sex, 
    count(*) 
from demog 
group by sex;
"""
pd.read_sql(g, db_conn)

In [ ]:
Num cases by sex

In [ ]:
g1 = """
select 
    sex, 
    count(case_num) 
from raw_court.dssgname 
group by sex 
order by count(*); 
"""
pd.read_sql(g1, db_conn)

### Zipcodes

How many zipcodes associated with each individual?

In [ ]:
q4 = """
with zipcase as (
    select 
        last_name, 
        first_name, 
        dob, 
        rcd.case_num, 
        zipcode 
    from raw_court.dssgname rcd
    inner join raw_court.dssgaddress6222022 rcda 
    on rcda.case_num = rcd.case_num
), 
demog as (
    select 
        last_name, 
        first_name, 
        dob, 
        zipcode 
    from zipcase 
    group by last_name, first_name, dob, zipcode
)
select 
    last_name, 
    first_name, 
    dob, 
    count(distinct substring(zipcode, 1, 5)) as k 
from demog 
group by last_name, first_name, dob 
order by k desc;
"""
q4case = pd.read_sql(q4, db_conn)
q4case

In [ ]:
sns.histplot(data=q4case, x="k")
# Vast majority of people have only 1-2 zipcodes associated with them.
# The max number of zipcodes any single individual has is 12.

In [ ]:
sns.histplot(data=q4case[q4case.k >= 6], x="k")

How many zipcodes in KCMO vs. not?

In [ ]:
#-- how many zipcodes fall in KCMO (71440) vs. not (18036)
z2 = """
with zipcase as (
    select 
        last_name, 
        first_name, 
        dob, 
        rcd.case_num, 
        zipcode 
    from raw_court.dssgname rcd
    inner join raw_court.dssgaddress6222022 rcda 
    on rcda.case_num = rcd.case_num
), 
demog as (
    select 
        last_name, 
        first_name, 
        dob, 
        zipcode 
    from zipcase 
    group by last_name, first_name, dob, zipcode
),
kc as (
    select 
        case when substring(zipcode, 1, 2) = '64' then 1 else 0 end as kcmo 
    from demog
)
select 
    kcmo, 
    count(*) 
from kc 
group by kcmo;
"""
pd.read_sql(z2, db_conn)

Num distinct cases by zip codes

In [ ]:
#--counts of zip codes, extract first 5 digits, limit to top 15 most commonly occurring
z1 = """
with zipprob as (
    select 
        last_name, 
        first_name, 
        dob, 
        race, 
        rcd.case_num, 
        substring(zipcode, 1, 5) as zip 
    from raw_court.dssgname rcd 
    inner join raw_court.dssgaddress6222022 rcda 
    on rcda.case_num = rcd.case_num
)
select 
    zip, 
    count(distinct case_num) 
from zipprob 
group by zip 
order by count(*) 
desc limit 15;
"""
pd.read_sql(z1, db_conn)

#### Num indv. of certain races in each zipcode
---neighborhood racial percentages using census data can be compared with this to see if disparate impact

In [ ]:
q5 = """
with zipprob as (
    select 
    last_name, 
    first_name, 
    dob, 
    race, 
    rcd.case_num, 
    substring(zipcode, 1, 5) as zip 
    from raw_court.dssgname rcd 
    inner join raw_court.dssgaddress6222022 rcda 
    on rcda.case_num = rcd.case_num
)
select 
    zip, 
    race, 
    count (*) 
from zipprob 
group by zip, race 
order by count(*) desc;
"""
pd.read_sql(q5, db_conn)

#### In each zipcode,

In [ ]:
#--zipcodes first 5 digits grouped by sex
q6 = """
with zipprob as (
    select 
        last_name, 
        first_name, 
        dob, 
        sex, 
        rcd.case_num, 
        substring(zipcode, 1, 5) as zip 
    from raw_court.dssgname rcd 
    inner join raw_court.dssgaddress6222022 rcda 
    on rcda.case_num = rcd.case_num)
select 
    zip, 
    sex, 
    count(*) 
from zipprob 
group by zip, sex 
order by count(*) desc;
"""
pd.read_sql(q6, db_conn)

### How many probations (probation terms) each year?

In [ ]:
#count_all: number of probation terms starting in each year (adds up to 173930),
#count_distinct_cases: number of probation terms starting in each year associated with 
# distinct case numbers (adds up to 115642). If we were to group by start_year, case_num
# the number of cases across the 10 years would add up to 114,820. 
q7 = """
select 
    extract(year from start_dttm::timestamp::date) as start_year,
    count(*) as count_all, 
    count(distinct case_num) as count_distinct_cases
from raw_court.dssgc_ordv6222022 
group by start_year; 
"""
pd.read_sql(q7, db_conn)

In [ ]:
#-- number of probation terms with a start date in each year, grouped by defendants.
# adds up to ~79k. Unique indv. may have multiple probation terms, hence doesn't add up to 57K
q8 = """
with ordv_name as (
    select * 
    from raw_court.dssgc_ordv6222022 do2  
    inner join raw_court.dssgname n 
    on do2.case_num = n.case_num
),
ordv_name2 as (
    select 
        last_name, 
        first_name, 
        dob, 
        start_dttm 
    from ordv_name 
    group by last_name, first_name, dob, start_dttm)
select 
    extract(year from start_dttm::timestamp::date) as start_year, 
    count(*)
from ordv_name2 
group by start_year 
order by start_year;
"""
pd.read_sql(q8, db_conn)

## Which probation terms were most common in each year?

In [ ]:
q9 = """
select 
    extract(year from start_dttm::timestamp::date) as start_year, 
    prob_code, 
    count(*) as count
from raw_court.dssgc_ordv6222022 do2 
group by start_year, prob_code 
order by count 
desc limit 30;
"""
pd.read_sql(q9, db_conn)
#--most common is PROB for most years, followed by:
#-- DNDMV stands for DO NOT DRIVE A MOTOR VEHICLE UNLESS LICENSED AND INSURED
#-- DNOOFF Do Not Obtain Any Similar Offenses
#-- CMSR20	Community Service-20 hours
#-- DIP4HR	Driver Improvement-4 hour

In [ ]:
q10 = """
select 
    extract(year from start_dttm::timestamp::date) as start_year, 
    prob_code, 
    count(*) as count
from raw_court.dssgc_ordv6222022 do2 
group by start_year, prob_code 
order by start_year, prob_code;
"""
pd.read_sql(q10, db_conn)

## How many cases per individual?

In [ ]:
# group by unique individuals and count distinct cases for each indv.
q1 = """
select 
    count(distinct case_num) as num_cases
from raw_court.dssgname 
group by last_name, first_name, dob
order by num_cases desc;
"""
cases = pd.read_sql(q1, db_conn)
cases

In [ ]:
sns.distplot(cases.num_cases, color="purple", bins=30, kde=False)

The majority of defendants have less than 5-6 cases, but goes up to 39 for one individual.

In [ ]:
#-- How many dispositions each year?
q3 = """
with cases as (
    select * 
    from raw_court.dssgc_ordv6222022 do2
    inner join raw_court.dssgcharge d 
    on do2.case_num = d.case_num
)
select 
    count(*), 
    extract(year from disp_date::timestamp::date) as disp_year 
from cases 
group by disp_year 
order by disp_year desc;
"""
numdispyears = pd.read_sql(q3, db_conn)
numdispyears

In [ ]:
# yearly number of dispositions
yearsplot = sns.barplot(data = numdispyears, x = "disp_year", y = "count")
yearsplot.set_xticklabels(yearsplot.get_xticklabels(), rotation = 45)
yearsplot

2015 and 2019 had the highest numbers of dispositions. Significant drop in 2020, 21 due to Covid.

### Dispositions

In [ ]:
#--Disposition codes distribution 2 ROW
disp = """
with cases as (
    select * 
    from raw_court.dssgchrg_prob6222022 dp 
    inner join raw_court.codes_fixed cf 
    on dp.disp_code = cf.code
    where code_type = 'OSCAIMCD')
select 
    disp_code, 
    code_desc, 
    count(distinct case_num) 
from cases 
group by disp_code, code_desc 
order by COUNT(*) desc;
"""
pd.read_sql(disp, db_conn)

### Pleas

In [ ]:
p1 = """
with cases as (
    select * 
    from raw_court.dssgcharge dc
    inner join raw_court.codes_fixed cf 
    on dc.plea = cf.code
    where code_type = 'PLEA')
select 
    plea, 
    code_desc, 
    count(distinct case_num) 
from cases
group by plea, code_desc 
order by count(*) desc;
"""
pd.read_sql(p1, db_conn)

### SIS/SES and other types

In [ ]:
# count probation terms - SIS/SES combinations, with description of codes
# where clause and inner join on subset of codes_fixed to only display relavant rows
sent_prob = """
with cases as (
    select * 
    from raw_court.dssgc_ordv6222022 do2
    inner join raw_court.dssgcharge d
    on do2.case_num = d.case_num
), 
sis_ses as (
    select 
        prob_code, 
        sent_exec_code, 
        count(*) as numcases 
    from cases 
    group by prob_code, sent_exec_code
),
codes as (
    select 
        code_type, 
        code, 
        code_desc 
    from raw_court.codes_fixed 
    group by code_type, code, code_desc
)
select 
    prob_code, 
    sent_exec_code, 
    numcases, 
    code_desc 
from sis_ses 
inner join codes 
on sis_ses.prob_code = codes.code 
where code_type = 'PROBCNDS' 
order by numcases 
desc limit 15;
"""
pd.read_sql(sent_prob, db_conn)

In [ ]:
s1 = """
with chrg as (
    select * 
    from raw_court.dssgcharge do3 
    inner join raw_court.codes_fixed cf 
    on cf.code = do3.sent_exec_code
)
select 
    sent_exec_code, 
    count(*), 
    code_desc from chrg
group by sent_exec_code, code_desc 
order by count(*) desc;
"""
pd.read_sql(s1, db_conn) ### needs to be updated using CODE_TYPE from codes_fixed to only have one row per code

In [ ]:
#Counts of cases by SIS/SES and prob codes
s2 = """
with cases as (
    select * 
    from raw_court.dssgc_ordv6222022 do2
    inner join raw_court.dssgcharge d 
    on do2.case_num=d.case_num
)
select 
    sent_exec_code, 
    prob_code, 
    count(*)
from cases
group by sent_exec_code, prob_code 
order by count(*) desc;
"""
cases_sis_ses = pd.read_sql(s2, db_conn)
cases_sis_ses

In [ ]:
#-- How many dispositions each year?
q_sent = """
with sent as (select 
	 sent_exec_code, 
	 extract(year from disp_date::timestamp::date) as start_year
	--code_desc,
from raw_court.dssgcharge d 
inner join raw_court.codes_fixed cf 
on d.sent_exec_code = cf.code)
select 
	sent_exec_code, 
	start_year, 
	count(*) from sent 
where start_year > '2011' 
group by start_year, sent_exec_code 
order by start_year, sent_exec_code
"""
sent1 = pd.read_sql(q_sent, db_conn)
sent1

In [ ]:
# yearly dist. of sentence type
s_pl = sns.barplot(data = sent1, x = "start_year", y = "count", hue="sent_exec_code")
s_pl.set_xticklabels(s_pl.get_xticklabels(), rotation = 45)